@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --color-buttonbg: #fa706c;
  --font-family-onest: "Onest", ui-sans-serif, system-ui, sans-serif;
}

/* Prevent sideways scrolling + keep background consistent */
html,
body {
  overflow-x: hidden;
  background-color: #352D51;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Ensure the React app fills the screen */
#root {
  min-height: 100vh;
  background-color: #352D51;
}

/* Dashboard scroll styling */
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 6px; /* horizontal scrollbar height */
}

/* Scrollbar track */
.scrollbar::-webkit-scrollbar-track {
  background: #1F1C3D;
  border-radius: 8px;
}

/* Scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 8px;
}

/* Hover state */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff8a86;
}

/* Scrollbar track (the background) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #FFBA84;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FA706C;
}